body {
	background: #F0ba71} 

#endereco{

width: 100%;

}



h2{display: inline-block;
text-align: center;
}


#logo {
    width:150px;
    display: inline-block;
   margin-left: 600px;
}

p {
	text-align: center;
}

ul{ 
	display: inline-block; 
	font-size: 15px;

			}

.lista {
	display: inline-block;
    width: 40%;
     
	 }


 em strong {
	color: #FF0000; 
}


#imagem1{ 
	height: 50px;
}

.imagem2{
    display: inline-block;
    width: 600px;
    margin-right: 0px;
   

}


	h1{
	
text-align: center;
border: dotted #b1411e;

}

li::marker{ 
 content: "\263B"; 
color: red;
font size: 20px;}

h2{ 
font-size: 25px;
text-align: center;
color: #b1411e;

 }

footer{
	text-align: center;
	background-color: white;
}